*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

button{
    cursor: pointer;
    font-size: 12pt;
    padding: 30px;
}
