$width-rem: 3.5rem;
$width-px: 300px;
$width: 300;

$font: "Lucida Grande";
$weight: bold;

$bg: red;
$bg-section: rgba(0, 0, 0, 0.7);
$font-color: #ffffff;


$animals: puma, sea-slug, egret, salamander;

$animals: puma sea-slug egret salamander;

$animals: "puma", "sea-slug", "egret", "salamander";


$color-light: false;

$color-dark: true;

$color-dark: null;

$social: (
 facebook: #3b5998,
 flickr: #0063db,
 github: #4183c4,
 googleplus: #dd4b39,
 instagram: #517fa4,
 linkedin: #007bb6,
 pinterest: #cb2027,
 soundcloud: #f60,
 twitter: #00aced,
 youtube: #b00
);

body {
    color: #333;
}

a {
    color: red;
}

p {
    margin: 20px 0;
}

nav {

	width: 100%;
	background: #000;
	
	ul {
		list-style: none
	}
	
	li {
		color: #fff;
		display: inline-block;
	}
	
}

nav {
	font: {
		family: "Times New Roman", Times, serif;
		style: italic;
		size: 30px;
		weight: bold;
	}
}

a {
	color: #ffa;
  &:hover {
	  color: #faf;
  }
}

#main {
    color: black;
    a {
      font-weight: bold;
      &:hover { color: red; }
    }
  }
  
aside {
    width: $width-px;
}

section {
  font-family: $font;
  font-weight: $weight;
}

body {
  background: $bg;
  color: $font-color;
}

section {
  background: $bg-section;
}