@charset "UTF-8";


/* tablet */
@media (min-width: 768px) and (max-width: 1024px){
    div.container {
        display: grid;
        height: 100vh;
        grid-template-columns: 100px auto 100px;
        grid-template-rows: 3;
        gap: 10px;
        grid-template-areas:
            "header header header"
            "main   main   main"
            "footer footer footer";
    }
}


@media only screen and (min-width: 1024px) {
 
    div.container {
        display: grid;
        height: 100vh;
        width: auto;
        /* grid-template-columns: 232px 350px auto; */
        grid-template-columns: 2fr 2fr auto;
        grid-template-rows: 1fr auto 1fr;
        /* gap: 10px; */
        grid-template-areas:
            "header header header"
            "main   main   main"
            "footer footer footer";
    }

    header {
        height: 70px;
    }

    main > section{
        /* display: grid;
        grid-template-columns: 232px 250px 700px;
        grid-template-rows: 977px;
        gap: 20px; */

        display: flex;

        
    }

    footer {
        height: 40px;
    }
}